@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: Roboto;
}

.playlist-info {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #bdc3c7, #2c3e50); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #bdc3c7, #2c3e50); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #bdc3c7, #2c3e50); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* Standard syntax */
    color: white;
}

.playlist-info {
    padding: 20px;
    position: relative;
}

.playlist-image {
    max-width: 300px;
}

.playlist-title {
    font-size: 32px;
}

.playlist-author, .playlist-length {
    color: #ddd;
}

.playlist-author span, .playlist-length span {
    font-weight: 500;
}

.playlist-price {
    color: white;
    margin-top: 30px;
}

.playlist-songs {
    padding: 0px 15px 0px 15px;
}

.playlist-songs tbody tr {
    cursor: pointer;
}
