html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    min-height: 100%;
    position: relative;
}

.main {
    position: relative;
    min-height: 100%;
    width: 60%;
    /* display: inline-block; */
    padding: 10px;
    margin: 65px auto;
    border: solid 1px #cecece;
    border-radius: 10px;
    margin-bottom: 100px;
}

.about #user_name {
    margin: 10px;
    font-family: arial;
    font-weight: 600;
    font-size: 24px;
}

.reg_bar {
    width: 25%;
    /* margin-top: 10px; */
    padding-right: 10px;
    display: inline-block;
    text-align: center;
}

.about {
    text-align: center;
    /* float: left; */
    /* margin-left: 18%; */
    padding: 8px;
    /* border: solid 1px #cecece; */
    border-radius: 10px;
    display: inline-block;
    /* box-shadow: 0 0 15px #888888; */
    /* margin-top: 60px; */
}

.divider {
    position: absolute;
    left: 27.5%;
    top: 10px;
    bottom: 10px;
    border-left: 1px solid #c7c7c7;
}

.post {
    vertical-align: top;
    padding-left: 30px;
    display: inline-block;
    width: 68%;

}

.post .nts_text {
    color: #c7c7c7;
    position: relative;
    /* top: 50%; */
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
    /* display: inline-block; */
    margin-top: 120px;
}

.footer {
    font-weight: 600;
    font-family: Courier New;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #c7c7c7;
    background: white;
    clear: both
}

center {
    width: 75%;
}

.menu-link {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin-left: 10px;
    display: inline;
}

.menu-link li a {
    text-decoration: none;
    color: #0074d1;
}

.menu-link li a:hover {
    text-decoration: underline;

}

.login {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}

.login button, .logout button {
    outline: none;
    transition: all .5s;
    background-color: #2196F3;
    font-family: arial;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
    padding: 8px 35px;
    border: none;
    display: inline-block;
    vertical-align: middle;
}

.login button:hover, .logout button:hover {
    background-color: #0074d1;
}

.login span {
    font-weight: 600;
    display: block;
    color: #bbb
}

@media only screen and (max-width: 700px) {
    .post {
        top: 350px;
        left: 0px;
    }

    .footer {
        left: 0px;
        bottom: 0px;
    }

}

/*Playlist style*/
.playlist_box {
    position: relative;
    font-family: Arial;
    /*text-align: center;*/
    margin-bottom: 10px;
    /*border: 1px solid #c7c7c7;*/
    padding: 5px;
    border-radius: 10px;
}

.playlist_box a {
    text-decoration: none;
    color: #000;
}

.playlist_box .playlist_img {
    /* width: 100%; */
    display: inline-block;
    height: 100px;
    border-radius: 10px;
    /* border: 1px solid; */
}

.playlist_img {
    -webkit-transition: -webkit-filter .2s;
    /*border-right: 1px solid #c7c7c7;*/
    background-size: 100%;
    background-repeat: no-repeat;
}

.playlist_img:active {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.playlist_box .playlist_name {
    text-transform: capitalize;
    vertical-align: top;
    margin: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    width: 22%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playlist_box .playlist_statusBox {
    margin-right: 30px;
    margin-top: 29px;
    float: right;
    display: table-cell;
    vertical-align: middle;
}
